# Python Fundamentals: 
### Author - Pritesh Jha

##### Index :

In [2]:
# 01 : Comments / Initialization / Declaration / print

In [3]:
# 02 :  Datatypes : Integer / Float / String / List / Tuples / Dictionary / Set / Array / Type casting

In [4]:
# 03 :  Operators : Arithmetic / Relational / Logical

In [5]:
# 04 : Conditional statements : if-else

In [6]:
# 05 : Loops : While / For

In [7]:
# 06 : Exception Handling

In [8]:
# 07 : Functions and Generators / Global and Local variables / Overloading and Overriding

In [9]:
# 08 : Lambda / map / filter

In [10]:
# 09 : Class and Objects / Inheritence / Polymorphism

In [11]:
# 10 : Anagrams and Regex

In [12]:
# 11 : File operations - read / write

###  01 : Comments / Initialization / Declaration / print

#### Comments :

In [13]:
# "Comments" are only for explanation/understanding of the code
# Comments are not displayed in output when using print()
# Use "#" before any line to instruct the compiler that it is a comment.

In [14]:
# Note : Using "#" will only make a single line a "comment". To display multi-line comment, use """ xyz """
# See below

In [15]:
# Eg : This is a single line comment

In [16]:
"""Eg :
This is a multi-line comment."""

'Eg :\nThis is a multi-line comment.'

#### Initialize and Declaration :

In [17]:
# "Initialization" means to let the compiler know that a particular variable exists. 
# So that a memory location is given to that variable

# Declaration means to assign a value to the variable
# This value is saved in the alloted memory location
# We can find the memory location using id(variable)

In [18]:
a = 10

In [19]:
id(a)

140736726475440

In [20]:
# a is initialized and value of 10 is declared and stored in memory location : 140736753672880

In [21]:
# reading multiple declarations
x,y,z = 2,3,4

In [22]:
x

2

#### Display output using print() :

In [23]:
# These are 4 different methods of using print() method :

In [24]:
print('Output : value of a : ')
print(a)

Output : value of a :
10

In [25]:
print('Output : value of a : ',a)

Output : value of a :  10

In [26]:
print('Output : %a is the value of a' %a)
# Note : Here "," was not used like in previous method

Output : 10 is the value of a

In [27]:
print('Output : {} is the value of a'.format(a))

Output : 10 is the value of a

### 02 :  Datatypes : Integer / Float / Complex / String / List / Tuples / Dictionary / Set / Array

#### Numeric data : int / float / complex

In [28]:
a = 1
print('Value of a is :', a)
print('Datatype of a is :', type(a))

Value of a is : 1
Datatype of a is : <class 'int'>

In [29]:
b = 2.0
print('Value of b is :', b)
print('Datatype of b is :', type(b))

Value of b is : 2.0
Datatype of b is : <class 'float'>

In [30]:
c = 3 + 2.0j
print('Value of c is :', c)
print('Datatype of c is :', type(c))

# Note : Complex numbers are of the format (x + iy)

Value of c is : (3+2j)
Datatype of c is : <class 'complex'>

#### Text data : Strings

In [31]:
s = 'Hello'
print('Value of s is :', s)
print('Datatype of s is :', type(s))

Value of s is : Hello
Datatype of s is : <class 'str'>

In [32]:
print('Hi \nI am Pritesh. My gaming tags are :\tNightWolf \\ BlackFlash')
# \n : for new line
# \\ : to print "\"
# \t : for "tab"

Hi
I am Pritesh. My gaming tags are :	NightWolf \ BlackFlash

#### Slicing using Index

In [33]:
s[0] #print 1st element. Note : index starts with 0

'H'

In [34]:
s[2] #print 3rd element

'l'

In [35]:
s[0:] #print all elements STARTING FROM 1st element

'Hello'

In [36]:
s[0:3] #print all elements starting from 1st and ending BEFORE 4th element

'Hel'

In [37]:
s[:3] #print all elements ENDING BEFORE 4th element

'Hel'

In [38]:
s[-1] #print last element

'o'

In [39]:
s[-2] #print 2nd last element

'l'

In [40]:
s[0::2] #print every 2nd element from elements starting from 1st till last.

'Hlo'

In [41]:
s[::2] #gives same result as above.

'Hlo'

In [42]:
s[1:-1:2] #print every 2nd element from elements starting from 2nd and ending before last.

'el'

In [43]:
# Try this : write a code using above properties that prints 'Hello' as 'olleH'. (Reverse of string)

#### String methods:

In [44]:
s1 = 'I am night. I am vengence. I am Batman.'
s2 = 'The road to success and the road to failure are almost exactly the same.'
s3 = 'My name is ... '
s4 = 'Bond... James Bond!!'

In [45]:
# Following are a few string methods : 
# These are commonly used methods. For further details, Vist : https://www.w3schools.com/python/python_strings_methods.asp

In [46]:
s5 = s3 + s4 #Concatenates 2 strings
s5

'My name is ... Bond... James Bond!!'

In [47]:
len(s1) #prints length of string

39

In [48]:
print("road" in s2) #prints True if a particular text exists in string using "IN" keyword

True

In [49]:
s2.count('road') #prints the number of times the text has occured in the string

2

In [50]:
print(s3.lower()) #change to lower case
print(s4.upper()) #change to upper case

my name is ...
BOND... JAMES BOND!!

In [51]:
print(s5.replace('Bond','Potter')) #replaces part of string with the specified text. Text can be a letter or words.
print()
print(s5.replace('B','F'))

My name is ... Potter... James Potter!!

My name is ... Fond... James Fond!!

In [52]:
res1 = s5.split("...") #splits the string from where the delimitor lies
print(res1)

['My name is ', ' Bond', ' James Bond!!']

In [53]:
s.find('o') # Returns the index at which the char is located. Eg : 'o' is at index 4 in 'Hello' 
# Note : It will only return the index of FIRST instance of the char. To understand, try finding index of 'l' in 'Hello'
# Similarly, str.rfind() is used to locate the index of LAST instance.

4

In [54]:
s.index('o') #same as str.find() in functionality

4

In [55]:
s.isdigit() #returns True if str is digit

False

#### Type casting :

In [56]:
# Changing one datatype to another using "datatype(variable)" method

In [57]:
# Converting int to float :
print(float(a))

1.0

In [58]:
# Converting float to string :
b = str(b)
print('Datatype of new b is :', type(b))

Datatype of new b is : <class 'str'>

#### Lists :

In [59]:
l0 = []
l1 = [1, 2, 3, 4, 5]
l2 = [1, 2, 3.0, 4.0, 'five', 'six']

In [60]:
# Lists are ORDERED, INDEXED, MUTABLE.

# Note : Slicing works similar to Strings.

In [61]:
l2[0]

1

In [62]:
l2[0] = 10   #changing values of element of list
print(l2)

[10, 2, 3.0, 4.0, 'five', 'six']

In [63]:
l2.insert(0,1.01)  #Insert 1.01 at the index 0
l2

[1.01, 10, 2, 3.0, 4.0, 'five', 'six']

In [64]:
l2.append(7.0)  #list.append() adds new value to the end of list
l2

[1.01, 10, 2, 3.0, 4.0, 'five', 'six', 7.0]

In [65]:
l1.extend(l2)
print(l1)
# Here in list.extend(iterable) , iterable can be list,tuple,dict,set,etc 
# Use list1 + list2 + list3 for multiple lists

[1, 2, 3, 4, 5, 1.01, 10, 2, 3.0, 4.0, 'five', 'six', 7.0]

In [66]:
l1.remove(1.01)  #remove the value 1.01 from list
l1

[1, 2, 3, 4, 5, 10, 2, 3.0, 4.0, 'five', 'six', 7.0]

In [67]:
l1.pop(-1)  #remove the value at the last index
l1

[1, 2, 3, 4, 5, 10, 2, 3.0, 4.0, 'five', 'six']

In [68]:
l1.clear()  #delete all elements in the list
l1

[]

In [69]:
# List Comprehension : 
# (Will discuss this again after Loops have been covered)

l1 = [i for i in range(10)]  
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
l1.sort(reverse=True) #Sort the values in list. (default : ascending)
print(l1)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [71]:
l2.reverse() #reverse the list based on indexing
l2

[7.0, 'six', 'five', 4.0, 3.0, 2, 10, 1.01]

In [72]:
l0 = [l1[0:3]] + [l2[0:3]]  #Lists as elements of a List
l0

[[9, 8, 7], [7.0, 'six', 'five']]

In [73]:
l0[1][2]

'five'

#### Tuples :

In [74]:
# Tuples are ORDERED, INDEXED, IMMUTABLE.

# Note : Slicing works similar to Lists.

In [75]:
# As tuples are immutable, you can not append, join, replace elements in tuples.
# To edit them, you will have to use type casting to convert tuple into a list.

In [76]:
t0 = (1,2,3)
print(t0)

(1, 2, 3)

In [77]:
t1 = list(t0)
t1

[1, 2, 3]

In [78]:
# Tuple only have tuple.count() and tuple.index() methods.

#### Dictionary :

In [79]:
# Dicts are UNORDERED, UNINDEXED and has NO DUPLICATES.

In [80]:
d = {'a':1, 'b':2, 'c':3}
d

{'a': 1, 'b': 2, 'c': 3}

In [81]:
# {item} == {key : value}
# 'a','b','c' are keys.
# 1,2,3 are values

In [82]:
list(d.keys())

['a', 'b', 'c']

In [83]:
list(d.values())

[1, 2, 3]

In [84]:
d.get('a')

1

In [85]:
# Changing value for a particular key
d['a'] = 10
d['a']

10

In [86]:
list(d.items())

[('a', 10), ('b', 2), ('c', 3)]

In [87]:
# Try this : Write a code that checks if user input is in the dict keys or not.

In [88]:
d.update({'b':20})
d

{'a': 10, 'b': 20, 'c': 3}

In [89]:
d.update({'d':4}) # can also be used to add new items
d

{'a': 10, 'b': 20, 'c': 3, 'd': 4}

In [90]:
d.pop('d')
d

{'a': 10, 'b': 20, 'c': 3}

In [91]:
# Nested Dictionaries :

child1 = {
  "name" : "Shweta",
  "year" : 1989
}
child2 = {
  "name" : "Sneha",
  "year" : 1990
}
child3 = {
  "name" : "Pritesh",
  "year" : 1993
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [92]:
myfamily['child3']['name']

'Pritesh'

In [93]:
ld1 = ['x','y','z']
ld2 = [7,8,9]

d1 = {}
d1.fromkeys(ld1)  # dict.fromkeys() is used to create dict from list

{'x': None, 'y': None, 'z': None}

#### Set :

In [94]:
# Sets are UNORDERED, UNINDEXED, UNIQUE.
# Based on Venn diagrams.

In [95]:
set0 = {1,2,3,4,'alpha','beta','gamma','delta'}
set0

{1, 2, 3, 4, 'alpha', 'beta', 'delta', 'gamma'}

In [96]:
list1 = [4,2,1,8,6,3,4,7,5,9,6,3,1,2,0]
list2 = ['alpha','beta','gamma','delta','theta','zeta','omega']

In [97]:
set1 = set(list1)                         #Type casting
set2 = set(list2)

In [98]:
set3 = set1.union(set2)                   # OR table
print(set3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'zeta', 'delta', 'theta', 'alpha', 'gamma', 'omega', 'beta'}

In [99]:
intersection = set0.intersection(set3)    # AND table
print(intersection)

{1, 2, 3, 4, 'delta', 'alpha', 'gamma', 'beta'}

In [100]:
diff1 = set1.difference(set2)             # A - B
print(diff1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [101]:
diff2 = set2.difference(set1)             # B - A
print(diff2)

{'zeta', 'delta', 'theta', 'alpha', 'gamma', 'omega', 'beta'}

In [102]:
diff3 = set0.symmetric_difference(set3)  # 1 - Intersection
print(diff3)

{0, 5, 6, 7, 8, 9, 'zeta', 'theta', 'omega'}

## 3. Operators :

In [103]:
a = 100
b = 25
c = 10
d = 5

#### Arithmetic operators :

In [104]:
a + b

125

In [105]:
a - b

75

In [106]:
a * b

2500

In [107]:
a / b

4.0

In [108]:
a % b                        # Remainder

0

In [109]:
print('b / c : ',b / c)

print('Floor div :',b // c)  # Quotient

b / c :  2.5
Floor div : 2

In [110]:
print('Exponentiation / d power of a : ', a**d)

Exponentiation / d power of a :  10000000000

#### Assignment operators :

In [111]:
a > b

True

In [112]:
a < b

False

In [113]:
a >= 2*b

True

In [114]:
a <= 4*b

True

In [115]:
a == 4*b

True

In [116]:
a != 4*b

False

#### Logical operators :

In [117]:
a>=4*b and a<=5*c

False

In [118]:
a>=4*b or a<=5*c

True

### 04 : Conditional statements : if-else

In [119]:
a = 10
b = 5

In [120]:
if a == b:
    print('Equal')
elif a > b:
    print('a is greater')
else:
    print('b is greater')

a is greater

### 05 : Loops

#### While loops :

In [121]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [122]:
# "break" statement : exit the loop if condition is met

i = 1
while i < 6:
    print(i)
    if i == 3:
        break             # Breaks the loop
    i += 1

1
2
3

In [123]:
# "continue" statement : 

i = 0
while i < 6:
    i += 1
    if i == 3:
        continue           # Does not run print(i) in this case and continues the loop
    print(i)

1
2
4
5
6

#### For loops :

In [124]:
for x in "Hello":
    print(x)

H
e
l
l
o

In [125]:
for x in range(3):
    print(x)

0
1
2

In [126]:
for x in range(2, 30, 5):
    print(x)

2
7
12
17
22
27

In [127]:
# Break and Continue statements work the same with for loops as well.

In [128]:
# Finding all possible combinations in letter and num

letter = ["a", "b", "c"]
num = [1, 2, 3]
                                     
for x in letter:                     # First loop
    for y in num:                    # Second loop
        print(x, y)

a 1
a 2
a 3
b 1
b 2
b 3
c 1
c 2
c 3

In [129]:
# Try this : 
# 1. Loop through both keys and values, by using the items() method
# 2. Create a list of square of elements of a list using list comprehension

### 06 : Exception Handling

In [18]:
# Consider the following code :
# x = input()
# print(x/2)

# Ideally the above code means, user provides an int/float value and returns val/2.
# However, if the user enters a string, the result will give an error.

# To handle errors, we wil use try: and except: methods.

In [ ]:
# Import error
# Index error
# Name error
# Syntax error
# Type error
# Value error

In [19]:
def div(a,b):
    try:
        print(a/b)
    except ZeroDivisionError:
        print('Denominator cannot be zero')

In [20]:
x,y = 10,0
div(x,y)

Denominator cannot be zero

In [21]:
x,y = 10,2
div(x,y)

5.0

In [ ]:
# What if there is a value error or type error ?
# Creating

In [22]:
def div(a,b):
    try:
        print(a/b)
    except ZeroDivisionError:
        print('Denominator cannot be zero')
    except ValueError:
        print('Value error')
    except TypeError:
        print('Type error')

In [23]:
x,y = 'ABC',2
div(x,y)

Type error

In [24]:
# Generalizing all the errors that may occur, the syntax is as follows :

def div(a,b):
    try:
        print(a/b)
    except:
        print('An error has occured')

In [25]:
x,y = 'ABC',2
div(x,y)

An error has occured

In [26]:
x,y = 10,0
div(x,y)

An error has occured

In [27]:
# Note : if you need to use exception handling in loops, use :
# except :
#     pass

In [28]:
# try:       Test a statement 
# except:    Spot an error
# finally:   Runs this part of code irrespective of what happens on testing statement

In [29]:
# Generalizing all the errors that may occur, the syntax is as follows :

def div(a,b):
    try:
        print(a/b)
    except:
        print('An error has occured')
    finally:
        print('This will run no matter what')

In [30]:
x,y = 'ABC',2
div(x,y)

An error has occured
This will run no matter what

### 07 : Functions

In [135]:
# Use functions, when you might have to run the same code multiple times in a program.
# This saves memory required by the program.
# Syntax is as follows :


# def func_name(parameter_1, parameter_2,.....,parameter_n):
#     statement_1
#     statement_2
#     statement_m
#     return result

In [133]:
# Example 1 :
# Write a function that does all of the arithmetic operations on 2 given variables

def all_arithmetic_op(x,y):     # This is called function initialization. 
    print('a + b :',x+y)
    print('a - b :',x-y)
    print('a * b :',x*y)
    print('a / b :',x/y)
    print('a % b :',x%y)
    print('a // b :',x//y)
    return                      # return() in this case is void. But it can be a result value as well.

In [137]:
a = 10
b = 5
all_arithmetic_op(a,b)          # This is called "function call"

a + b : 15
a - b : 5
a * b : 50
a / b : 2.0
a % b : 0
a // b : 2

In [ ]:
# Note : x and y are local variables, i.e, x and y do not exist outside the function.
# In simple words, print(x) or print(y) outside the function will give an error stating "variable not defined or declared"

In [139]:
#Example 2 :

# Write a function to create email id based on user's first and last name and employee id :

def get_email_id(first, last, emp_id):
    email_id = first + '.' + last + str(emp_id) + '@workmail.com'
    return email_id

In [141]:
first_name = 'Pritesh'
last_name = 'Jha'
employee_id = 27111993

email = get_email_id(first_name,last_name,employee_id)       # Function call

print('Email ID created for {} {} is :'.format(first_name, last_name), email)

Email ID created for Pritesh Jha is : Pritesh.Jha27111993@workmail.com

In [168]:
# Global variable vs local variable :

# G.V allows the variable in a function to be used outside the function as well.
# G.V are defined using "global" keyword during their initialization in the function.

#### Recursion :

In [154]:
# A function is a Recursive function is when the function calls itself.
# This has the benefit that you can loop through data to reach a result.

# Note : Try not to create a infinite loop when using recursion

In [ ]:
# Try this first : Find factorial of a number using loops

In [159]:
# Find Factorial of a number using recursion :

def factorial(k):
    if(k>1):
        result = k * factorial(k-1)
    else:
        result = k
    return result

In [161]:
factorial(5) # Factorial of 5 is : 5*4*3*2*1 = 120

120

### 08 : Lambda / map / filter :

#### Lambda :

In [29]:
# When a function is short enough that it can be written in one line, lambdas are used.
# Lambdas are nothing but a one-liner function.

# Synatax for a function to return cube of an integer : 
# x = lambda a : a*a*a

In [35]:
a = 10
lambda a : a*a*a
x(a)

100

In [ ]:
# Try this : write a lambda function that creates email id for the user.

In [32]:
first_name = 'Pritesh'
last_name = 'Jha'
employee_id = 27111993
email = lambda first_name, last_name ,employee_id :  first_name + '.' + last_name + str(employee_id) + '@workmail.com'

In [33]:
print(email(first_name, last_name ,employee_id))

Pritesh.Jha27111993@workmail.com

#### Map :

In [5]:
# map() is used when you need to run the SAME FUNCTION to all elements of an iterable(list).
# map() is advantageous over loops

In [7]:
list_1 = [1,2,3,4,5,6,7,8,9]

In [ ]:
# Try this first : Write a code to return cubes of all the elements in list_1 using loops.

In [13]:
# Write a code to return cubes of all the elements in list_1 using map()

def map_cube(x):
    return x*x*x

print(list( map(map_cube, list_1) ))     # Syntax of using map()

[1, 8, 27, 64, 125, 216, 343, 512, 729]

#### Filter :

In [5]:
# filter() is used when you need to run the SAME CONDITION to all elements of an iterable(list).
# filter() is advantageous over using loops and if-else

In [14]:
list_1 = [1,2,3,4,5,6,7,8,9]

In [ ]:
# Try this first : Write a code to return all the elements in list_1 that are multiples of 2 using loops and if-else.

In [16]:
# Write a code to return cubes of all the elements in list_1 using filter()

print(list( filter(lambda x: x%2==0, list_1) ))     # Syntax of using filter()

[2, 4, 6, 8]

### 09 : Class and Objects / Inheritence / Polymorphism :

In [38]:
# Python is an object oriented programming language.
# Everything in python is basically an "object" of a pre-defined class in the background.

# A class contains all the objects, properties and methods.
# All classes have a function called __init__(), which is always executed when the class is being initiated.

In [43]:
class Person:                                 # Initialization
    def __init__(self,name,age,console):      # __init__ is very important as it is used to assign values to objects,etc
        self.name = name
        self.age = age
        self.console = console
    
# Now Creating 2 objects and assigning object properties.
p1 = Person('Pritesh',27,'PS4')               # Object p1
p2 = Person('Siddarath',25,'PS4')             # Object p2

In [47]:
# Object properties can be viewed as follows :

print(p1.name)
print(p1.console)

Pritesh
PS4

* Objects retain all the methods of their class.

In [48]:
# Re-writing previous code again, but adding a method this time.
# Methods are similar to functions.
# __init__ is very important as it is used to assign values to objects,etc

In [1]:
class Person:                                             # Initialization
    
    def __init__(self,name,age,console,username):      
        self.name = name
        self.age = age
        self.console = console
        self.username = username
        
    def basic_profile(self):                              # Method of a class
        print('Username for {} on console {} is : {}'.format(self.name, self.console, self.username))
    
    
    
# Now Creating 2 objects and assigning object properties.
p1 = Person('Pritesh',27,'PS4','NightWolf')               # Object p1
p2 = Person('Siddarath',25,'PS4','narcoleptichulk')       # Object p2

In [2]:
p1.basic_profile()                                        # calling class method

Username for Pritesh on console PS4 is : NightWolf

#### Inheritance :

In [118]:
# Child class is a subset of parent class.
# ** Child will retain the method and properties of parent class **.

In [119]:
# Re-writing the class again

In [120]:
class Person:                                             # Initialization of Parent class
    
    def __init__(self, name, age, console, username):     # Creating the __init__ constructor
        self.name = name
        self.age = age
        self.console = console
        self.username = username
        
    def basic_profile(self):                              # Method of a Parent class
        print('Username for {} on console {} is : {}'.format(self.name, self.console, self.username))

In [121]:
class Fifa20(Person):                                     # Initialization of Child class
    
    def __init__(self, name, age, console, username, fav_team, fav_formation, play_style):      # Constructor __init__
        
        super().__init__(name, age, console, username )   # **Important**  :  super() refers to "parent" class Person
                                                          # all parameters of parent class must be defined here
        self.fav_team = fav_team
        self.fav_formation = fav_formation
        self.play_style = play_style
        
           
            
    def common_play(self):                                # Method of child class
        print('{} plays with the team {} with formation : {} and prefers the : {} attacking play '.format(self.name, self.fav_team, self.fav_formation, self.play_style))

In [122]:
# Creating object of child class

p1 = Person('Pritesh',27,'PS4','NightWolf')

In [123]:
p1.username

'NightWolf'

In [124]:
# Calling the parent class method :

p1.basic_profile()

Username for Pritesh on console PS4 is : NightWolf

In [125]:
# Creating object of child class

p2 = Fifa20('Pritesh',27,'PS4','NightWolf', 'Liverpool', '4-2-3-1', 'Wings')

In [126]:
# Calling the Parent class method for object of Child class:

p2.basic_profile()

Username for Pritesh on console PS4 is : NightWolf

In [127]:
# Calling the Child class method :

p2.common_play()

Pritesh plays with the team Liverpool with formation : 4-2-3-1 and prefers the : Wings attacking play

In [128]:
# Try this : 
# Create a multilevel class with respect to your office hierarchy.
# Implement methods based on the project, roles and responsibilities.

### Anagrams and Regex :

#### Anagrams :

In [ ]:
# Examples of anagrams : noob - boon/oonb/bnoo/nobo/bono/oobn/nboo

In [1]:
# Try this : Check whether two strings are anagrams or not

In [12]:
def anagrams_check(x,y):
    if len(x) != len(y):
        print("Not anagrams due to mismatched string lengths")
    elif(sorted(x) != sorted(y)):
        print("Not anagrams due to mismatched string")
    else:
        print('{} and {} are anagrams!'.format(x,y))
    return

In [13]:
anagrams_check('abc','acb')

abc and acb are anagrams!

In [58]:
# Finding all anagrams in a list :

def anagrams_check_list(l):
    res = []
    for i in range(0,len(l)-1):
        x = l[i]
        for j in range(i+1,len(l)):
            y = l[j]

            if len(x) != len(y):
                pass

            elif(sorted(x) != sorted(y)):
                pass            

            else:
                res.append(y)
                res.append(x)
        
    if len(res)>0:
        print(sorted(res))
    else:
        print('There are no anagrams in the list')

In [59]:
list1 = ['abc','cba','xyz','zxy','pqr','pqrs','bca']

anagrams_check_list(list1)

['abc', 'abc', 'bca', 'bca', 'cba', 'cba', 'xyz', 'zxy']

In [60]:
list2 = ['abc','pqr']

anagrams_check_list(list2)

There are no anagrams in the list

In [ ]:
# There are multiple other ways of finding anagrams. Find atleast two other methods of finding anagrams.

#### Regular Expression (Regex) :

In [61]:
import re

In [ ]:
# Go to : https://www.w3schools.com/python/python_regex.asp
# Regex functions :
# findall()   - 
# search()    -
# split()     -
# sub         -

In [62]:
s = 'My name is Anthony Gonzalves. Main duniya mein akela hoon.'

In [69]:
re.findall('on',s)

['on', 'on', 'on']

In [70]:
x = re.split('on',s)
x

['My name is Anth', 'y G', 'zalves. Main duniya mein akela ho', '.']

In [72]:
x = re.sub('\s','*',s)
x

'My*name*is*Anthony*Gonzalves.*Main*duniya*mein*akela*hoon.'

In [75]:
x = re.search('on',s)

print(x.span())
print("--------------")
print(x.string)
print("--------------")
print(x.group())

(15, 17)
--------------
My name is Anthony Gonzalves. Main duniya mein akela hoon.
--------------
on

In [ ]:
# Check Metacharacters, sets and special sequences on the following link :
# Link : https://www.w3schools.com/python/python_regex.asp

### File operation :

In [131]:
# File operations consist of 4 different operations : create, read, update, delete 
# F.O can be implemented on .txt, .xls, .csv files

#### Read Files :

In [145]:
# The key function for working with files in Python is the open() function.

# The open() function takes two parameters; filename, and mode.

# There are four different methods (modes) for opening a file:

#  "r" - Read - Default value. Opens a file for reading, error if the file does not exist
#  "a" - Append - Opens a file for appending, creates the file if it does not exist
#  "w" - Write - Opens a file for writing, creates the file if it does not exist
#  "x" - Create - Creates the specified file, returns an error if the file exists

In [146]:
address = "E:\\Pritesh\\Inventories\\Demo\\"

In [147]:
file1 = open(address + "trial_text.txt", "r")

In [148]:
file1_data = file1.read()
print(file1_data)

My name is : Pritesh
My age is : 27

In [150]:
type(file1_data)

str

In [151]:
# As the data from the text file has been read as String, we can implement the string operations as well.

In [169]:
file1_data.upper()

'MY NAME IS : PRITESH\nMY AGE IS : 27'

In [171]:
file1 = open(address + "trial_text.txt", "r")

In [172]:
# You can return one line by using the readline() method once:

file1.readline()

'My name is : Pritesh\n'

In [173]:
# The next time you run readline() method, it will read 2nd line.

file1.readline()

'My age is : 27'

In [174]:
# Hence, by looping through the lines of the file, you can read the whole file, line by line:
file1 = open(address + "trial_text.txt", "r")
for x in file1:
    print(x)

My name is : Pritesh

My age is : 27

In [175]:
# Note: You should always close your files, in some cases, due to buffering, 
# changes made to a file may not show until you close the file.

file1.close()

#### Write files :

In [187]:
# Using parameter "a" to append at the end of the file

file1 = open(address + "trial_text.txt", "a")

In [188]:
file1.write("This is the new line.")                  # Writing new lines
file1.close()                                         # Always close to update file

file1 = open(address + "trial_text.txt", "r")         # Open again to see the updated file
print(file1.read())

This is the new line.This is the new line.

In [189]:
# Note : By using write() function using "w" parameter in open(), you will overwrite the file.

file1 = open(address + "trial_text.txt", "w")

In [190]:
file1.write("This is the new line.")                  # Writing new lines
file1.close()                                         # Always close to update file

file1 = open(address + "trial_text.txt", "r")         # Open again to see the updated file
print(file1.read())
file1.close()

This is the new line.

In [191]:
# The above output has overwritten the file_text.txt .

#### Create :

In [193]:
# To avoid the above problem, always create a new file (file_2) using "x" and append file_1 to it before using write()

In [203]:
# Using parameter "x" to append at the end of the file

file1 = open(address + "trial_text.txt", "r")

try:
    file2 = open(address + "trial_text_new.txt", "x")              # Create new file ins the same folder
except:
    file2 = open(address + "trial_text_new.txt", "w")              # Open the file if it exists


for x in file1:
    file2.write(file1.readline())                                  # Copying file1 in file2
    
file2.write("This is the new line in the created file.")
file2.close()                                                      # Update file2

file2 = open(address + "trial_text_new.txt", "r")
print(file2.read())

file2.close()

My age is : 27This is the new line in the created file.